body {
  background: #222323;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #c00000;
  color: white;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ff0000;
}
